<h1>StaticPages#contact</h1>
<p>Find me in app/views/static_pages/contact.html.erb</p>
<p>Dubai</p>
<p>Al Ameri Tower - Al Barsha Heights(Tecom)</p>
<p>20th Floor, Unit: 2006</p>
<p>Contact Us </p>
<p>00971 55 287 5656</p>
<p>00971 55 9726883</p>


