<div class="medium-container welcome-page text-center">
	<div id="text">
		<h2> Welcome to BIKE BERLIN</h2><br><br>
		<h4><%=link_to 'PRODUCTS' , products_path,  id:"shopping"%></h4><br>
		<h4><%=link_to 'FEATURED ITEMS' , featured_path,  id:"shopping"%></h4>
	</div>
</div>
