<div class="medium-container welcome-page text-center">
	<div id="text">
		<%=image_tag("bike-img.png", class: "img-responsive logo")%>
		<div id="box1"></div>
		<h1>BIKE BERLIN</h1><br>
		<div id="box2"></div><br>	
		<h3><%=link_to 'Shop Now' , products_path,  id:"shopping"%></h3>
	</div>
</div>


