<div class="small-container" id="thankyou">
		<div class="alert alert-success ">
	  <div class="panel-body">
	    <strong>Thank you. We have received your message and will respond as soon as possible.</strong>
	  </div><!-- / panel-body -->
	</div><!-- / panel -->
	<%= link_to 'Back', products_path %>
</div>

