<div class="small-container" id="thankyou">
		<div class="panel panel-success">
	  <div class="panel-body" id="thankyou-box">
	    <p>Thank you. We have received your message and will respond as soon as possible.</p>
	  </div><!-- / panel-body -->
	</div><!-- / panel -->
</div>

<%= link_to 'Back', products_path %>