<div class="small-container thankyou-page">
		<div class="alert alert-success" id="thankyou">
	  <div class="panel-body">
	    <strong>Thank you. We have received your message and will respond as soon as possible.</strong>
	  </div><!-- / panel-body -->
	</div><!-- / panel -->
	<%= link_to 'Back', products_path ,class:"btn btn-default btn-special  btn-xs" %>
</div>

