// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//products index page styling
.products-grid{
 	padding: 30px ;
 	margin: 10px 0;
	box-shadow: 2px 2px 5px #e2e2e2; 
	background-color: #121212 ; 
	opacity: 0.8;
	color: #e2e2e2; 
	text-align: center;
}
.products-img{
	min-height: 300px;
}
textarea{
  padding: 20px;
	width: 100%;
	border: none;
	background-color: #121212 ;
}
.products-heading{
	color: #e2e2e2;
	background-color: #121212 ;  
	opacity: 0.8;
	margin: 20px -15px 5px -15px;
	padding: 10px;
}
#new-product{
	margin: 20px 0 80px;
}

//products show page
.products-show{
	padding: 20px;
	color: #fff;
}
.product-show-desc{
	padding: 90px 70px;
	background-color: #121212;
	opacity: 0.8; 
	border-radius: 5px;
}

//products-eidt-page
.product-edit{
	padding: 30px;
}
#edit-page{
	margin: 0;
	padding-bottom: 10px;
}

//new products page
.new-products{
	padding: 20px 30px;
}