// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//products index page styling
.products-grid{
 	padding: 30px;
 	margin: 10px 0;
	box-shadow: 2px 2px 5px #e2e2e2; 
	text-align: center;
}
.products-img{
	padding: 10px; 
	min-height: 300px;
}
.product-desc{
	padding: 20px; 
 	border: none;
}
#new-product-btn{
	margin-top: 20px;
}


//products-eidt-page
.product-edit{
	padding: 30px;
}
#edit-page{
	margin-top: 0;
	margin-bottom: 20px;
}


//new products page
#new-products-page{
	padding: 20px 30px;
}



//show page styling
.products-show{
	padding: 20px; 
	margin-bottom: 80px;
}
.product-show-desc{
	margin-top: 20px;
	padding: 0 70px 10px; 
	border-radius: 5px;
} 
.show-comment{
	width: 50%;
	margin: 0 auto; 
}
.comment-area{
	border-radius: 5px; 
	width: 100%; 
}
.comment-submit{
	margin-bottom: 10px; 
}
.comment-section{
	margin-bottom: 60px;
	padding: 20px 50px 30px 50px; 
}



@media (max-width: 500px) {
 .product-show-desc{
	width: 100%;
	padding: 0;
	margin: 0;  
	}
.comment-section{
	margin: 0; 
	padding: 0;
	}
.show-comment{
	width: 100%;
	}
#new-products-page{
	width: 100%;
	}
}
