// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* { box-sizing: border-box; 
	margin: 0;
	padding :0;
}
body {
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; 
}
.navbar{
	position: initial; 
	margin-bottom: 20px; 
}
.medium-container{
	width: 70%;
}
.small-container{
	width: 40%;
}
.small-container, .medium-container{
	margin: 0 auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container{
	margin-bottom: 70px;
}
.btn-special{
	background-color: #001a33;
	color: #fff;
}
.btn-special:hover{
	background-color: #003566;
	color: #fff;
}
.alert {
  margin-bottom: 10px;
  margin-left: 40%;
}
#footer{
	position: fixed; 
	bottom : 0;
	left: 0;
	width : 100%;
	padding: 20px 0 20px 80px;
	background-color: #f5f5f5; 
}



//About page styling
.about-content{
	padding: 30px 40px;
	border-radius: 30px;
}
#about-heading{
	margin-top: 0;
	margin-bottom: 20px;
}


//contact page styling
.contact-content{
	padding: 20px 50px;
}



//products featured product page
.carousel-inner > .item > img {
  margin: 0 auto;
}
.carousel-caption {
	color: black;
}
.featured-heading{
	padding: 10px 20px; 
}

//thank you page
.thankyou-page{
	padding: 30px;
}


@media (max-width: 500px) {
   
.contact-content, .about-content{
	width: 100%;
	padding: 15px;
	}
.alert {
  margin-bottom: 10px;
  margin-left: 0;
	}
}





















