// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//log-in page styling
.log-in-page{
	padding: 30px 60px;
}

//Edit user page
.edit-user{
	padding: 20px 50px; color: #fff;
	background-color: #121212;
	opacity: 0.7; 
	border-radius: 10px;
}

//forgot password page 
.forgot-password{
	padding: 40px; 
}
.reset{
	margin: 20px 0;
}

//sign up page 
.sign-up{
	padding: 20px 50px;
}