// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//log-in page styling
.log-in-page{
	max-width: 330px;
	margin: 0 auto;
	margin-top: 150px; 
}
#log-in{
	margin: 40px 0 10px 0;
}
.form-group{
	margin: 15px 0;
}
.sign-in{
	width: 100%;
	margin-bottom: 10px;
}

//thankyou page styling
#thankyou{
	margin-top: 25%;
}