// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//show user page, new user page, forgot password page , log-in page styling
.user-show, .new-user, .forgot-password, .log-in-page{
	padding: 30px; 
}

//sign up page ,Edit user page
.sign-up, .user-edit{
	padding: 20px 50px;
	border-radius: 10px;
}

.reset{
	margin: 20px 0;
}



@media (max-width: 500px) {
.user-edit, .log-in-page, .sign-up, .forgot-password{
	width: 100%;
	padding: 15px; 
	}
.user-edit{
	padding: 25px;
	}
.forgot-password{
	 margin: 0; 
	 padding:25px;
	}
.forgrt-passwrd-btn{
	font-size: .78em;
	}
}
