<h2 class="products-heading">Products</h2>

<div class="row">
  <%# @products.each do |product| %>   
    <%= render @products %>
  <%# end %>
</div>

<div id="new-product">
	<% if signed_in? && current_user.admin? %>
		<%= link_to 'New Product', new_product_path , class:"btn btn-default btn-special" %>
	<% end %>
</div>




